body {
font-family: "Arial", "Meiryo", sans-serif;
font-size: 20px;
text-align: center; 
}

.google-fonts {
    font-family: "Josefin Sans", sans-serif;
   }

html {
   font-size: 20px; 
}


h1 {
  font-size: 2rem;  
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
 }
  

.text-red {
    color: rgb(255, 192, 203);
}

.text-blue {
    color: skyBlue;
 }
  
#Parent div {
   font-weight: bold;
  }
  
 